.mobile-hide,
.tablet-visible,
.pc-visible,
.home-slider .box .link-video,
td.mobile-hide,
td.pc-visible,
td.tablet-visible,
th.mobile-hide,
th.pc-visible,
th.tablet-visible{
	display: none !important;
}
.mobile-visible,
.pc-hide,
.tablet-hide{
	display: block !important;
}
td.mobile-visible,
td.pc-hide,
td.tablet-hide,
th.mobile-visible,
th.pc-hide,
th.tablet-hide{
	display: table-cell !important;
}
.m-left{
	float: left;
}
.m-right{
	float: right;
}
#wrapper{
	padding: 0 30px;
}
.alignleft,
.alignright{
	float: none;
	margin: 0 0 22px;
}
#header{
	padding: 0;
}
.contacts-area{
	float: none;
	background: #414042;
	color: #fff;
	padding: 10px 30px;
	margin: 0 -30px 20px;
}
.contacts-area a{
	color: #fff;
}
.link-email{
	text-indent: -9999px;
	overflow: hidden;
	background: url(../images/ico-email-m.png) no-repeat;
	width: 42px;
	height: 23px;
	padding: 0;
	float: left;
}
.contacts-area strong{
	float: right;
	margin: 0;
}
.contacts-area .m-left{
	float: left;
}
#header .logo{
	margin: 0 0 15px;
}
.btn-m-nav{
	float: right;
	margin: 10px 0 30px;
	background: url(../images/btn-m-nav.png) no-repeat;
	width: 30px;
	height: 26px;
	text-indent: -9999px;
	overflow: hidden;
}
#header nav{
	padding: 0;
	z-index: 110;
	position: relative;
	display: none;
}
#header nav.open{
	display: block;
}
#nav{
	float: none;
	background: #fec325;
	position: absolute;
	left: -30px;
	right: -30px;
	margin-right: 0;
	padding: 5px 30px;
}
#nav li,
#nav ul li{
	padding: 1px 0;
}
#nav li:first-child{
	border: none;
}
#nav ul li:first-child{
	padding-top: 1px;
}
#nav > li{
	border-top: 1px solid #c85c7b;
	float: none;
	padding: 2px 0;
	margin: 0;
}
#nav li a{
	display: block;
}
#nav > li > a{
	padding: 5px 0;
}
#nav ul li a:before{
	color: #181818;
}
#nav a,
#nav ul a{
	color: #181818;
}
#nav ul a{
	padding: 5px 0;
	margin: 0;
}
#nav a:hover,
#nav .active > a,
#nav ul .menu-item-has-children > a{
	/*background: #c51648;*/
	color: #181818;
	font-family: 'Raleway Bold', Arial, Helvetica, sans-serif;
}
#nav ul a:hover{
	padding: 5px 0;
	margin: 0;
}
/*#nav .active > a:hover{
	color: #fff;
}
#nav .active > a{
	color: #fff;
}*/
#nav ul{
	display: block;
	padding: 0 0 0 20px;
	position: static;
	background: none;
	border: none;
}
#nav ul ul a:before{
	content:'- ';
}
.home-slider{
	margin: 0 -30px 20px;
}
.home-slider .slide{
	height: 200px;
}
.home-slider .slide .holder{
	padding: 0 10%;
}
.home-slider .box{
	width: auto;
	padding: 15px 25px;
}
.home-slider .box h1{
	margin: 0;
	font-size: 18px;
	line-height: 23px;
}
.widgets-slider .flex-prev{
	left: -25px;
}
.widgets-slider .flex-next{
	right: -25px;
}
.widgets-slider .widget{
	margin: 0;
}
.widgets-slider .widget .holder{
	padding-bottom: 15px;
	height: auto !important;
}
.widgets-slider .widget .link-holder{
	position: static;
}
.widget-blog{
	padding: 13px 25px 20px;
}
.widget-blog .image{
	float: none;
	margin: 0 -25px 20px;
}
.widget-blog .image img{
	max-width: inherit;
	width: 100%;
}
.widget-blog article{
	padding: 0;
	margin: 0;
}
.widget-blog .link-holder{
	text-align: center;
	position: static;
}
.widget-blog .link-view{
	margin: 0;
}
#content.content-home{
	margin-left: 0;
	margin-right: 0;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	column-count: 1;
	column-gap: 0;
}
#footer{
	margin-left: -30px;
	margin-right: -30px;
}
#footer .columns{
	display: block;
	margin: 0;
}
#footer .columns .column{
	display: block;
	padding: 0 0 20px;
	width: auto;
}
#footer .logos{
	float: none;
}
#footer .logos li{
	margin: 0 15px 15px 0;
}
.link-in{
	width: 42px;
	height: 42px;
}
#footer .link-in{
	margin: 12px 0 0;
}
#footer .bottom{
	margin: 0;
}
#footer .bottom ul{
	float: left !important;
}
.main-area.inner{
	padding-bottom: 15px;
}
#content{
	width: auto;
}
#content.content-blog{
	width: auto;
	float: none !important;
	margin-left: -30px;
	margin-right: -30px;
}
.content-cs .cs-info{
	margin: 0 -30px 25px;
	padding: 15px 30px 10px;
}
.full-image{
	margin: 0 -30px 20px !important;
}
.full-image img{
	width: 100%;
}
.column-content{
	overflow: visible;
}
.image-full-right{
	float: none;
	max-width: 200%;
	margin: 0 -30px 20px;
}
.image-full-right img{
	width: 100%;
}
.photo-list {
	margin: 0 -7px;
}
.photo-list .person-data{
	width: 45%;
	margin: 0 2.1% 5%;
}
.photo-list .photo{
	margin: 0 0 40px;
}
.photo-list .photo:after{
	bottom: -40px;
}
.photo-list .photo img{
	width: 100%;
}
.photo-list .photo-item{
	left: 0;
}
.two-columns{
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	column-count: 0;
	column-gap: 100px;
}
.two-columns.inner{
	padding: 0 0 20px 0;
}
.logos-section{
	margin: 0 -30px 35px;
	padding-left: 20px;
	padding-right: 20px;
}
.data-section .column{
	float: none;
	width: auto;
}
.data-section .right{
	float: none !important;
}

.top-links li{
	margin: 0 0 0 25px;
}
.top-links .link-basket{
	text-indent: -9999px;
	overflow: hidden;
	padding: 0;
	height: 20px;
	width: 26px;
}

.main-slider{
	height: auto;
}
.main-slider img{
	display: block;
	position: relative;
	max-width: 100%;
	width: 100%;
	height: auto;
}
.main-slider .text{
	width: 100%;
	display: block;
}
.main-slider .text .holder{
	display: block;
	padding: 15px 30px 30px;
	min-height: 163px;
}
.main-slider .text:after{
	display: none;
}
.main-slider .flex-control-paging{
	bottom: 0;
}
.widgets-slider{
	margin: 0 0 40px;
}
.widget-top-picks{
	padding: 15px 30px;
}
.picks-list{
	height: 470px;
	width: auto;
}
.picks-list li{
	float: none;
	margin: 20px 0 0;
	width: auto;
	height: auto;
	padding: 0 12px 5px;
}
.picks-list li:after{
	margin: 0;
}
.picks-list-slider .flex-direction-nav{
	padding: 5px 0 0;
}
.picks-list-slider .flex-prev,
.picks-list-slider .flex-next{
	position: static;
	margin: 0 3px;
	background-position: 0 -18px;
}
.picks-list-slider .flex-prev{
	background-position: -18px -18px;
}
.picks-list-slider .flex-viewport{
	height: 475px !important;
}
.shop-filters{
	padding: 0 0 15px;
}
body.woocommerce .woocommerce-ordering{
	margin: 0 0 15px;
	float: none;
}
body.woocommerce .woocommerce-ordering select{
	width: 100%;
}
.w-search-form{
	float: none;
	margin: 0 0 15px;
}
.w-search-form input[type="text"]{
	width: 87%;
}
.w-search-form input[type="submit"]{
	width: 13%;
}
.products-holder{
	margin: 0;
}
.home-area,
#footer .bottom *[class*="center-wrap"]{
	margin-left: 0;
	margin-right: 0;
}
body.woocommerce ul.products{
	margin-left: -30px;
	margin-right: -30px;
	padding: 15px 30px;
}
body.woocommerce ul.products li.product{
	display: block;
	width: 100%;
	margin: 0 0 15px;
}
body.woocommerce ul.products li.product > a{
	padding: 11px 15px;
}
.woocommerce ul.products .image{
	height: auto;
	line-height: normal;
}
body.woocommerce ul.products li.product h3{
	font-size: 14px;
	line-height: 16px;
}
body.woocommerce ul.products li.product .price{
	font-size: 16px;
	line-height: 18px;
}
.main-product{
	margin: 0 -30px -40px;
}
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-page div.product,
.woocommerce-page #content div.product{
	padding: 0 30px;
}
.main-product .column,
.main-product .column.right{
	float: none !important;
	width: auto;
}
.main-product .box.summary{
	margin: 0 -30px 10px !important;
	padding: 10px 30px;
}
body.woocommerce #content div.product div.images,
body.woocommerce div.product div.images{
	margin: 0 -30px 20px;
}
.main-product .box.box-1{
	padding: 0;
	background: none;
}
.main-product .variations_button .button{
	clear: both;
	margin: 0 0 10px;
}
.attr-accordion{
	margin: 0 0 10px;
}

.shop-table-block form{
	margin: 0 -30px 30px;
	padding: 0;
}

body.woocommerce-page table.shop_table{
	font-size: 13px;
	line-height: 16px;
}
body.woocommerce-page table.cart th,
body.woocommerce-page table.cart td{
	padding: 12px 10px;
}
body.woocommerce-page table.cart th{
	border: none;
	font-size: 14px;
	line-height: 17px;
}
body.woocommerce-page table.cart .product-name{
	border: none;
	min-width: 130px;
}
body.woocommerce-page table.cart .product-remove{
	border: none;
	padding-left: 0;
}
body.woocommerce-page table.cart th.product-price{
	text-indent: -9999px;
}
body.woocommerce-page table.cart tr:nth-child(2n) td{
	background: #f2f8f8;
}
body.woocommerce-page .cart-collaterals{
	width: auto;
	margin: 0 -25px;
}
body.woocommerce-page .cart-collaterals .cart_totals{
	width: auto;
	float: none;
}
.woocommerce-page .cart-collaterals .cart_totals .cart-totals-table{
	margin: 0 0 15px;
}
.checkout-button.wc-forward{
	float: right;
}
.woocommerce-page .cart-collaterals .cart_totals .shop-delivery-table{
	font-size: 13px;
	line-height: 16px;
}
.woocommerce-page .cart-collaterals .cart_totals .cart-totals-table,
.woocommerce-page .cart-collaterals .cart_totals .cart-totals-table th{
	font-size: 13px;
	line-height: 17px;
}
.woocommerce-page .cart-collaterals .cart_totals .cart-totals-table tr.total th,
.woocommerce-page .cart-collaterals .cart_totals .cart-totals-table tr.total td{
	font-size: 17px;
	line-height: 20px;
}
.ico-info{
	display: block;
	background: url(../images/ico-info.png) no-repeat;
	width: 19px;
	height: 19px;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}
body.woocommerce a.button.alt,
body.woocommerce button.button.alt,
body.woocommerce input.button.alt,
body.woocommerce #respond input#submit.alt,
body.woocommerce #content input.button.alt{
	font-size: 15px;
	padding: 16px 15px 14px;
	min-width: 160px;
}
body.woocommerce-page .cart-collaterals .cart_totals,
body.woocommerce-page .cart-collaterals .cross-sells,
body.woocommerce-page .cart-collaterals .shipping_calculator{
	float: none;
}
/*.cart-collaterals .cart-totals-table + .button{
	float: right;
}*/